<!DOCTYPE html>
<base href="/" />
<html>
<head>
    <!--    Install Material Icons-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <!--    Install Material Icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>

<div id="app">
    <v-app id="app">
        <v-flex xs12>
            <v-layout row wrap>
                <file-upload></file-upload>
                <select-menu></select-menu>
                <color-box></color-box>
            </v-layout>
        </v-flex>
    </v-app>
</div>

</body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 컴포넌트 추가시 여기에 -->
    <script>{% include 'wmp/file_upload.js' %}</script>
    <script>{% include 'wmp/select_menu.js' %}</script>
    <script>{% include 'wmp/color_box.js' %}</script>

    <!-- 컴포넌트 추가시 여기에 -->
    <script>
        function success_msg() {
            alert('파일 업로드 성공');
        };

    </script>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script>
      var vue = new Vue({
        el: "#app",
        vuetify: new Vuetify()
      });

      {#color_box img input 미리보기 코드...#}
    {#  function readURL(input) {#}
    {#    if (input.files && input.files[0]) {#}
    {#        var reader = new FileReader();#}
    {##}
    {#        reader.onload = function (e) {#}
    {#            $('#blah')#}
    {#                .attr('src', e.target.result)#}
    {#                .width(200)#}
    {#                .height(200);#}
    {#        };#}
    {##}
    {#        reader.readAsDataURL(input.files[0]);#}
    {#    }#}
    {#};#}

    </script>
</html>
