<v-container>
    <template id="color_box">

        <v-flex xs8>
            <v-text-field
                style="margin-top:-10px;"
                label="프로드ID"
                single-line
                hide-details
                clearable='true'
                v-model="selected_deal_id"
                @change=""
                @input="">
            </v-text-field>
        </v-flex>
{#        color_box img input 미리보기 코드...
{#        <div>#}
{#            <input style = 'margin:10px;' type='file' id='upload_img' onchange="readURL(this);" />#}
{#        </div>#}

        <div style = 'margin:10px;'>
            <img style='width:200px; height:200px' id="blah" src="https://t1.daumcdn.net/cfile/tistory/99DA87365DDA5FBB0C" alt="upload image" />
        </div>

        <div>
            <v-btn style = 'margin:10px;' small class="mr-4" @click="extract_color" >Extract Color</v-btn>
        </div>

        <div style = 'margin:20px; width:150px;'>
            <p><b>Dominant color:</b></p>

            <div>
                <span
                    id="color_box_1st"
                    v-bind:style="{ backgroundColor: tweenedCSSColor } "
                    style="display:inline-block; width:20px; height:20px;"
                ></span>

                <span
                    id="color_box_2nd"
                    v-bind:style="{ backgroundColor: tweenedCSSColor }"
                    style="display:inline-block; width:20px; height:20px;"
                ></span>
            </div>

            <p id="color_code_1st" style="display:inline">{{ tweenedCSSColor }}</p>
            <p id="color_code_2nd" style="display:inline">{{ tweenedCSSColor }}</p>

        </div>
    </template>
</v-container>