<v-container fluid style="width: 40%">
    <template id="upload_temp">
        <v-layout align-center>
            <v-flex xs12 sm3 text-xs-center>
                    <v-layout align-center justify-start row>

                              <v-file-input
                                id="file"
                                placeholder="Upload file"
                                label="File input"
                                prepend-icon="mdi-paperclip"
                              ></v-file-input>

                            <v-btn small class="mr-4" @click="upload" >Upload</v-btn>
                    </v-layout>

            </v-flex>
        </v-layout>
    </template>
</v-container>